<style>
    .u2 span {
        position: relative;
        top: 4px;
    }
</style>

  	<div class="container-down">
        <nav class="nav-custom">
           <ul class="u1">
                <li class="l1">
                <a href="#" style="background-color: white !important;">
                    <span class="glyphicon glyphicon-user icon-head" aria-hidden="true"></span><span class="glyphicon glyphicon-triangle-bottom icon-down" aria-hidden="true"></span>
                </a>
                    <ul class="u2">
                        <li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>收藏</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>喜欢</a></li>
{#                        <li><a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>点赞</a></li>#}
                        <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>设置</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>帮助与反馈</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>退出</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

	</div>
